/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*               moj CSS odavde            */

* {
	box-sizing: border-box;
}
a {
	border:solid 5px ;
	display:inline-block;
}
.naslov {
	display:flex;
	justify-content: center;
	border:solid 5px green;
	background-color: black;
  /* width: 100vw; */
}

.menjaj {
	display: flex;
	flex-wrap: wrap;
	border:solid 5px hsla(120,100%,50%,1);
  /* width: 100vw; */
		/* overflow:scroll; */

}

nav {
	display:flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
  justify-content: space-between;
	border:solid 5px hsla(40,100%,50%,1);
	width:100vw;
	/* overflow:scroll; */
}

.srednji_deo {
  border:solid 5px yellow;
	width:100vw;
	text-align: center;


}

.slike-past {
	display: flex;
	flex-direction: column;
	border:solid 5px purple;
	width: 46.2vw;
	/* height: 2vh; */
}

.before {
	width: 180px;
	height:80px;
}
.before2 {
	width: 180px;
	height:80px;
	align-self: flex-end;
}
.izmedju1{
	display: flex;
	flex-direction: row;
	align-items: center;
	border:solid 5px blue;
			/* width: 5vw; */
}
.izmedju2{
	display: flex;
	flex-direction: row;
	align-items: center;
	border:solid 5px blue;
			/* width: 5vw; */
}
.slike-now {
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	border:solid 5px red;
	width: 46.2vw;
}
.now {
	width: 180px;
	height:80px;
	align-self: flex-end;
}
.now2 {
	width: 180px;
	height:80px;
	align-self: flex-start;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
html {
	/* overflow: scroll; */
}

td,th{

	border-right:solid 5px red;
	border-bottom:solid 5px red;
	text-align: left;
	
}

table{
	border: solid 5px blue;
	border-collapse:separate;
	/* border-spacing:15px; */
	/* width:50%;   */
	margin-right:50vw;
}

.popuni {
	width:100vw;
}